!doctype html
html
head
  title Node Authentication
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
  style.
    body        { padding-top:80px; }
head
body
  div.container
    div.col-sm-6.col-sm-offset-3
      h1
        span.fa.fa-sign-in Login
      - if (message.length > 0)
        div.alert.alert-danger
          = message 
      

  !-- LOGIN FORM --
  form action="login" method="post"
    div class="form-group"
      labelEmaillabel
      input type="text" class="form-control" name="email"
    div
    div class="form-group"
      labelPasswordlabel
      input type="password" class="form-control" name="password"
    div

    button type="submit" class="btn btn-warning btn-lg"Loginbutton
  form

  hr

  pNeed an account? a href="signup"Signupap
  pOr go a href=""homea.p

div

div
body
html