doctype html

html(lang='en')
head
  meta(charset="utf-8")
  title Tyve
body
  section
    h1 A form for posting new products
    form(method="post", action="/api/products")
      input(type="text", name="title", placeholder="title")
      input(type="text", name="description", placeholder="description")
      input(type="text", name="style", placeholder="style")
      input(type="submit")
    h2 Commands
    p.
      /products<br>
      /products/:id
  script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js")
