doctype html

html(lang='en')
head
  meta(charset="utf-8")
  title Tyve
body
  section
    h1 Login testing with Passport
    form(action="/login", method="post")
    div
      label Username
      input(type="text", name="username")
    div
      label Password
      input(type="password", name="password")
    div
      input(type="submit", value="Log In")
    h2 Commands
  
  script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js")
